*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem; }

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column; }
  .menu-list__item {
    background-image: linear-gradient(to bottom, #333B3F 0%, #2E363A 100%);
    padding: 2rem;
    text-align: right;
    position: relative;
    z-index: 5; }
    .menu-list__item::before {
      content: "";
      height: 100%;
      width: 1%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #1AB5B3;
      transition: all .5s;
      z-index: -1; }
    .menu-list__item:hover::before {
      width: 100%; }
  .menu-list__link {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    line-height: 2rem;
    font-weight: 400; }

.container {
  max-width: 120rem;
  display: flex;
  margin: 3rem auto; }

.header {
  display: flex;
  flex-direction: column;
  flex: 0 0 15%;
  background-color: #242b2e; }
  .header__logo-box {
    padding: 1.5rem 3rem;
    background-color: white; }

.main-content {
  background-color: red;
  flex: 1 0 0; }
