*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: cornflowerblue;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem; }

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column; }
  .menu-list__item {
    background-image: linear-gradient(to bottom, #333B3F 0%, #2E363A 100%);
    text-align: right;
    position: relative;
    z-index: 5; }
    .menu-list__item::before {
      content: "";
      height: 100%;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #1AB5B3;
      transition: all .3s;
      z-index: -1; }
  .menu-list__item:hover::before, .menu-list__item--active::before {
    width: 100%; }
  .menu-list__link {
    display: inline-block;
    padding: 2rem;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    line-height: 2rem;
    font-weight: 400; }

.grid-box {
  flex: 1 0 24rem;
  position: relative;
  perspective: 200px; }
  .grid-box__image {
    width: 100%;
    display: block; }
  .grid-box__hover-box {
    color: #fff;
    text-align: center;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 181, 179, 0.9);
    transform: rotateY(121deg);
    transform-origin: left;
    transition: all .33s ease-in-out;
    opacity: 0; }
  .grid-box:hover .grid-box__hover-box {
    transform: rotateY(0deg);
    opacity: 1; }
  .grid-box__heading-2 {
    font-size: 2.4rem;
    font-weight: 400; }
  .grid-box__span {
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #fff;
    margin-bottom: 1.8rem;
    font-weight: 400; }
  .grid-box__link {
    margin-top: .8rem;
    display: block;
    height: 5rem;
    width: 5rem;
    border: 0.1rem solid #fff;
    border-radius: 50%;
    padding: 2.5rem;
    position: relative;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    transition: all .2s; }
    .grid-box__link:hover {
      transform: translateX(-50%) scale(1.2);
      transform-origin: center; }
  .grid-box__icon {
    height: 1.8rem;
    width: 1.8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #fff; }

.container {
  max-width: 120rem;
  display: flex;
  margin: 3rem auto; }

.header {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  background-color: #242b2e; }
  .header__logo-box {
    padding: 1.5rem 3rem;
    background-color: white; }

.main-content {
  background-color: #6b7072;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1 0 0; }
