.container{
    max-width: 120rem;
    display:flex;
    margin: 3rem auto;
    flex-wrap: wrap;
    
    @include desktop-mode{
        margin:0;
    }
    @include tablet-mode{
        flex-direction: column;
    }
    @include phone-mode{
        max-width: 100vw;
        flex-direction: column;
    }
}