.header{
    display: flex;
    flex-direction: column;
    flex:0 0 15%;
    background-color: $color-primary-dark;
    
    &__logo-box{
        padding: 1.5rem 3rem;
        background-color: white;
    }
}