$color-primary: #2E363A;
$color-primary-dark:#242b2e;
$color-primary-light:#333B3F;

$menu-hover: #1AB5B3;
$font-primary:#fff;

$unfocused-color:#6b7072;


//Breakpoints for screen sizes

$bp-largest:75em;//1200px
$bp-tablet:58.4375em;//935px